.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 97%;
}

.navbar-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  font-size: 1.5rem;
  color: rgb(21, 23, 32);
  margin-right: 20px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 20px;
}

.nav-links a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  border: none;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-icons i {
  font-size: 1.2rem;
  margin-right: 10px;
}

.nav-account {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.checked-in {
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 10px;
}

.clinical {

  border-bottom: 2px solid rgb(79, 46, 106) !important;
}

@media screen and (max-width: 767px) {
  .navbar {
    font-size: 24px; 
    display: flex;
    flex-direction: column;
    padding-top: 40px; 
  }

}
